# Default ignored files
/../../../IdeaProjects/tf-module-vpc/.idea/shelf/
/../../../IdeaProjects/tf-module-vpc/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../IdeaProjects/tf-module-vpc/.idea/httpRequests/
# Datasource local storage ignored files
/../../../IdeaProjects/tf-module-vpc/.idea/dataSources/
/../../../IdeaProjects/tf-module-vpc/.idea/dataSources.local.xml
